@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}
<h3>تعداد محصولات ما : @ViewData["count"]</h3>
<table  class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>UnitPrice</th>
            <th>IsInstock</th>
            <th>CreationDate</th>
           

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <th>@item.Id</th>
            <th>@item.Name</th>
            <th>@item.UnitPrice</th>
            <th>@item.IsInStock</th>
            <th>@item.CreateDate</th>
        </tr>
                }
            
        </tbody>
</table>